{% load staticfiles %}
{% load userextension_tags %}

<!DOCTYPE html>
<!-- nexthost_base.html -->
<html lang="en">
{% block mainheader %}
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144094404-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-144094404-1');
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="title" content="NextHost is your complete hostname management solution">
        <meta name="description" content="A service to facilitate hostname management">
        <meta name="keywords" content="hostname, management, hostname management, fleet, tools, ipam, dns">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="10 days">

        <!-- get bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- 3rd party css and js packages -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover.css" integrity="sha256-JN6PzDiVqV2siZjedqNB10DTVZsdRKY5oW0TTvYpAuQ=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css" integrity="sha256-BbA16MRVnPLkcJWY/l5MsqhyOIQr7OpgUAkYkKVvYco=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI=" crossorigin="anonymous" />

        <!-- custom styles & functions -->
        {% get_theme request as user_theme %}
        {% if user_theme %}
            <link href="{% static user_theme.css_file %}" rel="stylesheet">
        {% else %}
            <link href="{% static 'nexthost/css/default.css' %}" rel="stylesheet">
        {% endif %}
        <link href="{% static 'nexthost/css/nexthost_base.css' %}" rel="stylesheet">

        <!-- Local HEAD content -->
        {% block local_head %}{% endblock %}

        <!-- Global Javascript Functions -->
        <script>
            //Django CSRF Functions for AJAX Calls
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            var csrftoken = getCookie('csrftoken');
        </script>

        <!-- Local Javascript Functions -->
        {% block local_javascript %}{% endblock %}

    </head>
{% endblock mainheader %}

<body>

{% block mainnavbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand mr-5" href="{% url 'hostmgr:index' %}"><b>Next<span class="text-secondary">Host</span></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">

                {% include 'hostmgr/navigation/hostmgr_nav.htm' %}
                {% include 'hostmgr/navigation/hostmgr_apis.htm' %}
                {#                    {% include 'navigation/hostmgr_selfservice.htm' %}#}

            </ul>

            <!-- login -->
            <ul class="navbar-nav mr-4">
                <li class="nav-item dropdown align-right">
                    <a class="nav-link" href="{% url 'about' %}">
                        <b class="fa fa-question-circle fw"></b>
                    </a>
                </li>


                {% if user.is_authenticated %}
                    <li class="nav-item dropdown align-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b class="fa fa-user fw mr-3"></b><span class="hidden-sm">{{ user }}</span>
                        </a>
                        <div class="dropdown-menu ml-md-n5 ml-lg-n5 ml-sm-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'logout' %}"><b class="fa fa-sign-out-alt fw mr-3"></b>Log out</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'userextensions:detail_user' %}"><i class="fa fa-address-card fw mr-3"></i>Profile</a>
                            <a class="dropdown-item" href="#"><b class="fa fa-cogs fw mr-3 text-greyout"></b>Settings</a>
                            <a class="dropdown-item" href="{% url 'userextensions:list_recents' %}"><b class="far fa-clock fw mr-3"></b>Recents</a>
                            <a class="dropdown-item" href="{% url 'userextensions:list_favorites' %}"><i class="far fa-heart mr-3"></i>Favorites</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item">
                                {% is_favorite request as favorite_id %}
                                {% if favorite_id %}
                                    <form name="addFavoriteForm" method="POST" action="{% url 'userextensions:delete_favorite' favorite_id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="name" value="">
                                        <a href="javascript:document.addFavoriteForm.submit()"><i class="fas fa-heart-broken mr-3"></i></b>Remove Favorite</a>
                                    </form>
                                {% else %}
                                    <form name="deleteFavoriteForm" method="POST" action="{% url 'userextensions:add_favorite' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="name" value="">
                                        <a href="javascript:document.deleteFavoriteForm.submit()"><b class="fas fa-heart mr-3"></b>Add Favorite</a>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="dropdown-item">
                                {# set page a user start page #}
                                <form name="startPageForm" method="POST" action="{% url 'userextensions:set_start_page' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="name" value="">
                                    <a href="javascript:document.startPageForm.submit()"><b class="fas fa-sign-in-alt mr-3"></b>Set start page</a>
                                </form>
                            </div>

                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><b class="fa fa-sign-in fw margin-right-20"></b> Log In </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br/>

{% endblock mainnavbar %}

{% block messages %}
    {% include 'component/show_messages.htm' %}
{% endblock messages %}

<div id='page-container' class="container-fluid"> <!-- start "page-container" -->
    <!-- main content loads here-->
    {% block content %} Default Content - Local page should overwrite this {% endblock content %}
    {#    {% block modals %} {% endblock %}#}
</div>  <!-- end "page-container" -->

{% block mainfooter %}
{% endblock mainfooter%}

</body>
</html>
